body{
  background-color: #ddd;
}
ol,
ul{
  list-style: none;
}
*{
  scroll-behavior: smooth;
  font-family: 'Cairo', sans-serif, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Start section-1  */
.section-1{
  padding: 10px;
  margin:50px 10px  ;
  margin-top: 50px;
  background-color: #fff;
}
@media(max-width:767px){
  .section-1{
    margin: 10px;
  }
}

.section-1 .container{
  display: grid;
  grid-template-columns:repeat( 25, 1fr);
}
.section-1 .container aside{
  grid-column: span 1 ;
  background-color:#0d40c6 ;
  padding-top: 50px;
}
.section-1 .container aside a{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.section-1 .container aside a i{
  padding: 12px;
  color: #ffffff;
}
.section-1 .container aside a::before{
  position: absolute;
  content: "";
  width: 33px;
  height: 33px;
  background-color: #3766e0;
  left: 8px;
  top: 5px;
  transition: .3s;
  border-radius: 2px;
  z-index: -1;
  display: none;
}
.section-1 .container aside a:hover::before{
  display: block;
}
.section-1 .container .content{
  grid-column: span 24;
}
.section-1 .content .hed{
  position: relative;
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.section-1 .content .hed::after{
  content: "";
  position:absolute;
  width: 100%;
  height: 1px;
  left: 1px;
  bottom: 0px;
  background-color: #e5e7ec;
}
.section-1 .content .hed .logo{
  color: #0d40c6;
  font-weight:bold;
  font-size: 15px;
  position: relative;
  margin-left: 70px;
}
.section-1 .content .hed .logo::before{
  position: absolute;
  content: "&";
  width: 17px;
  height:17px;
  background-color:#0d40c6 ;
  left:-20px;
  top:42%;
  color: #fff;
  display: flex;
  justify-content: center;
}
.section-1 .content .text{
  display:flex;
  align-items: center;
  color: #1460d0;
  font-size: 14px;
}
.section-1 .content .text .coin{
  display: flex;
  margin-right: 20px;
}
.section-1 .content .text .coin .span-1{
  background-color: #eef2fe;
  border: 1px solid #eef2fe;
  border-radius:13px 0% 0% 13px;
  padding:5px 6px;
}
.section-1 .content .text .coin .span-2{
  padding:5px 6px;
  background-color: #fff;
  border: 1px solid #eef2fe;
  border-radius:0% 13px 13px 0%;
}
.section-1 .content .text .user {
  display: flex;
  align-items: center;
}
.section-1 .content .text .user .us{
  background-color: #1460d0;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}
.section-1 .content .text .user :nth-child(2){
  color: #9e91ff;
  margin-right: 7px;
}
.section-1 .content .text .user :nth-child(3){
  color:#9e91ff;
}
@media(max-width:599px){
  .section-1 .content .hed{
    flex-direction: column;
  }
  .section-1 .content .hed .logo{
    margin-left: 10px;
  }
  .section-1 .content .hed .text{
    gap: 10px;
    padding-bottom: 12px;
    flex-direction: column;
  }
  .section-1 .content .hed .text .user{
    margin-left: -20px;
  }
}
.section-1 .content .welcome{
  margin-left: 45px;
  padding-top: 15px;
  color: #1460d0;
  font-weight: 500;
}
.section-1 .content .welcome span{
  color: #8699b4 ;
  font-size: 13px;
}
.section-1 .content .boxes{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 120px;
  margin-left: 46px;
  margin-top: 30px;
}
.section-1 .content .boxes .box-1 .heed{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 30px;
}
.section-1 .content .boxes .box-1 .heed .buy{
  text-align: center;
  background-color: #1460d0;
  flex: .5;
  padding: 8px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.section-1 .content .boxes .box-1 .heed .sell{
  text-align: center;
  flex: .5;
  padding: 8px;
  color:#1460d0 ;
  border: 1px solid #eef2fe;
  border-radius: 5px;
  cursor: pointer;
}
.section-1 .content .boxes .box-1 .line p{
  margin:10px 0;
  color: #1460d0;
}
.section-1 .content .boxes .box-1 .line :nth-child(2){
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:3px 11px;
  background-color: #f2f6fe;
  color: #8891a1;
  border-radius: 7px;
  font-size: 12px;
}
.section-1 .content .boxes .box-1 .line :nth-child(2) i{
  font-size: 10px;
}
.section-1 .content .boxes .box-1 .reming{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.section-1 .content .boxes .box-1 .reming :nth-child(1) {
color: #96a7c1; 
font-size: 15px;
}
.section-1 .content .boxes .box-1 .reming :nth-child(2){
  margin-right:10px;
  font-size: 14px;
}
.section-1 .content .boxes .box-1 .last{
  background-color: #10d876;
  border-radius: 7px;
  color: #fff;
  font-weight: 500;
  padding: 10px;
  text-align: center;
}
.section-1 .content .boxes .box-1 .cont{
  padding-top: 10px;
  color: #96a7c1;
  line-height: 30px;
}
@media(max-width:767px){
  .section-1 .content .boxes{
    margin-left: 10px;
  }
  .section-1 .content .boxes .box-1 .line :nth-child(2){
    justify-content:center;
  }
  .section-1 .content .boxes .box-1 .line {
    text-align: center;
  }
  .section-1 .content .boxes{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 80px;
}
}
.section-1 .content .boxes .box-2 .heed{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 30px;
}
.section-1 .content .boxes .box-2 .heed img{
  width: 37px;
  height:37px;
  margin-top: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.section-1 .content .boxes .box-2 .heed .buy,
.section-1 .content .boxes .box-2 .heed .sell{
  display: flex;
  gap: 15px;
}
.section-1 .content .boxes .box-2 .heed .buy .info,
.section-1 .content .boxes .box-2 .heed .sell .info{
  line-height: 1.5;
}
.section-1 .content .boxes .box-2 .heed .buy .info :nth-child(3),
.section-1 .content .boxes .box-2 .heed .sell .info :nth-child(3){
  color: #1460d0;
}
.section-1 .content .boxes .box-2 .cont{
  margin-top: 30px;
  margin-right: 25px;
}
.section-1 .content .boxes .box-2 .cont .line{
  margin: 20px 0;
  padding: 11px;
  background-color: #e8eefcaf ;
  border-radius: 8px;
  color: #96a7c1;
  font-size: 15px;
  display: flex;
}
.section-1 .content .boxes .box-2 .cont .line span{
  flex: 1;
}
.section-1 .content .boxes .box-2 .cont :nth-child(1) span{
  color: #1460d0;
}
.section-1 .content .boxes .box-2 .cont :nth-child(6) :nth-child(2){
  color: red;
}
/* End section-1  */

/* Start section-2  */
.section-2{
  margin:50px 20px;
  background-color: #fff;
  padding: 20px;

}
.section-2 .top{
  color: #777;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 15px;
}
.section-2 .top i{
  font-size: 12px;
}
.section-2 .container{
  display: grid;
  grid-template-columns:repeat( 20, 1fr);
  gap: 30px; 
}
@media(max-width:767px){
  .section-2 .container{
    display: block; 
  }
}
.section-2 .content {
  grid-column: span 15;
}
.section-2 .content .img img{
  max-width: 100%;
}
.section-2 .content .bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 15px;
  background-color: #f0f1f2;
  margin-top: 15px;
}
@media(max-width:991px){
  .section-2 .content .bar {
    flex-direction: column;
    gap: 15px;
  }
}
.section-2 .content .bar .icon{
  display: flex;
  align-items: center;
  gap: 13px;
}
.section-2 .content .bar .icon .i{
  color: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.section-2 .content .bar .icon :nth-child(1){
  background-color: #c2c2c2 ;
}
.section-2 .content .bar .icon :nth-child(2){
  background-color: #000 ;
}
.section-2 .content .bar .icon :nth-child(3){
  color: #777;
  font-weight: 600;
}
.section-2 .content .bar .select .sele-1,
.section-2 .content .bar .select .sele-2{
  height: 30px;
  padding-left: 5px;
  outline: none;
  border: none;
  margin-right: 10px;
}
.section-2 .content .bar .select .sele-2{
  padding-right: 30px;
}
#sele-1,#sele-2{
    margin-left: 5px;
}
.section-2 .content .bar .select label{
  color: #525252;
}
@media(max-width:440px){
  .section-2 .content .bar .icon .i{
    display: none;
  }
  .section-2 .content .bar .select{
    display: flex;
    align-items: center;
  }
  .section-2 .content .bar .select label{
    display: none;
  }
}
.section-2 .content .prodect{
  display: flex;
  gap: 60px;
  justify-content: space-between;
}
@media(max-width:767px){
  .section-2 .content .prodect{
    flex-direction: column;
    gap: 10px;
  }
}
.section-2 .content .prodect .img{
  padding-top: 50px;
  position: relative;
}
.section-2 .content .prodect .img::after{
  position:absolute;
  content: "-12%";
  width: 50px;
  height: 50px;
  background-color: #e52e06;
  top: 30px;
  right:-20px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content:center;
  align-items: center;
  font-weight:600;
}
@media(max-width:767px){
  .section-2 .content .prodect .img::after{
    width: 50px;
    height: 50px;
    right:20px;
  }
}
.section-2 .content .prodect .info{
  margin-top: 40px;
  padding-bottom: 100px;
}
.section-2 .content .prodect .info .icon{
  color: #fdcb00 ;
  margin-bottom: 20px;
}
.section-2 .content .prodect .info .p-1{
  padding-bottom: 10px;
  font-weight: 600;
}
.section-2 .content .prodect .info .p-2{
  padding-bottom: 10px;
  color: #464141;
}
.section-2 .content .prodect .info .p-3{
  padding: 10px 0;
}
.section-2 .content .prodect .info .p-3 span{
  color: red;
  font-weight: bold;
  margin-left: 6px;
}
.section-2 .content .prodect .info .p-4{
  line-height: 1.7;
  color: #777;
  font-weight: 500;
}
.section-2 .content .prodect .opchion{
  font-size: 20px;
  color: #817d8b;
  display: flex;
  width: fit-content;
  margin-top: 15px;
}
.section-2 .content .prodect .opchion div{
  padding: 8px 12px;
  border-right: 1px solid #e9e9e9;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 0px 4px #e8e8e8, 0px 0px 4px #ebebeb ;
}
.section-2 .content .prodect .opchion div:hover{
  box-shadow: none;
}
.section-2 .container aside{
  grid-column: span 5;
}
.section-2 .container aside .color,
.section-2 .container aside .lab{
  border:1px solid #d0d0d0 ;
  padding:20px;
  margin-bottom: 20px;
}
@media(max-width:767px){
  .section-2 .container aside{
    margin-top: -50px;
  }
}
.section-2 .container aside .color h2,
.section-2 .container aside .lab h2{
  font-size: 20px;
  position: relative;
  letter-spacing: 2px;
  margin-bottom: 25px;
  width: fit-content;
}
.section-2 .container aside .color h2::before,
.section-2 .container aside .lab h2::before{
  position: absolute;
  content: "";
  width: 77%;
  height: 1.7px;
  bottom: -7px;
  left: 0;
  background-color: red;
}
.section-2 .container aside .lab{
  line-height: 1.7;
}
.section-2 .container aside .lab .up{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.section-2 .container aside .lab .up span{
  font-weight: 600;
  font-size: 18px;
}
.section-2 .container aside .lab ul li{
  margin-left: 15px;
  color: #777;
}
.section-2 .container aside .lab .down{
  margin-left: -1px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}
.section-2 .container aside .color{
  line-height: 2;
}
.section-2 .container aside .color p{
  margin-left: 20px;
  position: relative;
}
.section-2 .container aside .color p::before{
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  box-shadow: #00000030 0px 10px 20px, #0000003b 0px 6px 6px;
  top: 12px;
  left:-19px;
}
.section-2 .container aside .color .gray::before{
  background-color:gray;
}
.section-2 .container aside .color .White::before{
  background-color: #f2f2f2;
}
.section-2 .container aside .color .black::before{
  background-color: #000;
}
.section-2 .container aside .color .camel::before{
  background-color: #c19a6b;
}
.section-2 .container aside .color .orange::before{
  background-color: #f39c11;
}
/* End section-2  */

/* ÙStart section-3  */
  .section-3{
    background-color: #fff;
    margin: 20px auto;
    width: 88%;
  }
  .section-3 .container{
    padding: 20px;
  }
  .section-3 .container h1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 25px;
    color: #403f3f ;
  }
  .section-3 .container form{
    display: flex;
    gap: 15px;
  }
  .section-3 ::placeholder{
    color: #484848;
  }
  .section-3 .container form input{
    padding:6px 6px;
    outline: none;
    border: none;
    background-color: #f0efef;
    border-radius: 2.5px;
}
  .section-3 .container form :nth-child(2),
  .section-3 .container form :nth-child(3){
    width:40%;
  }
  .section-3 .container form input[type="button"]{
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    background-image: linear-gradient(25deg, #3548a5 0%, #9c4095 81%);
    
}
  .section-3 .container form input[type="button"]:hover{
    background-image: linear-gradient(25deg, #354080 0%, #932b89 81%);
  }
  .section-3 .container form input[type="reset"]{
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    background-color: #d54242;
}
  .section-3 .container form input[type="reset"]:hover{
    background-color: #bd0707;
  }
  .section-3 table {
    border-collapse:collapse ;
  }
  .section-3 table tr:not(:last-child){
    border-bottom: 1px solid #e0dfdf;
  }
  .section-3 table tr th{
    padding:20px 45px 13px 0;
    font-weight: 600;
    color: #3e3e3e;
  }
  .section-3 table tr td{
    padding: 17px 0;
  }
  .section-3 table .hed :nth-child(1) label{
    padding:0 7px;
  }
  .section-3 table tr td i{
    margin-left: 75px;
  }
  .section-3 table tr img{
    width: 40px;
    border-radius: 3px;
}
  .section-3 table .menu > :nth-child(1) label{
    padding:3px 7px;
  }
  .section-3 table label{
    position: relative;
  }
  .section-3 table label::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: -18px;
    border: 1px solid rgb(180, 177, 177);
    background-color: #fff;
    border-radius: 3px;
  }
  .section-3 table input:checked + label::before,
  .section-3 table input:not(:checked):hover + label::before{
    border: none;
  }
  .section-3 table label::after{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    top: 9px;
    left: -18px;
    box-shadow: 0px 0px 4px #e8e8e8, 0px 0px 4px #ebebeb ;
    background-image: linear-gradient(25deg, #3548a5 0%, #9c4095 81%);
    border-radius: 3px;
    display: none;
}
.section-3 table input:not(:checked):hover + label::after{
  display: block;
  opacity: 30%;
}
.section-3 table input:checked + label::after{
  display: block;
}
.section-3 table .menu>:nth-child(1),
.section-3 table .menu>:nth-child(2),
.section-3 table .menu>:nth-child(3),
.section-3 table .menu>:nth-child(4),
.section-3 table .menu>:nth-child(5),
.section-3 table .menu>:nth-child(6){
  font-size: 16px;
  color:#636363;
  font-weight: 500;
}
.section-3 table .menu>:nth-child(5) p{
  border: 1px solid #e0dfdf;
  width: fit-content;
  padding: 5px 13px;
  border-radius: 3px;
}
.section-3 table .menu>:nth-child(7) button{
  color: #f2f2f2;
  padding:7px 5px;
  background-color: #2ce5c0;
  outline: none;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  width: 90px;
}
.section-3 table .menu>:nth-child(7) button:hover{
  opacity: 60%;
  color: #000;
}
.section-3 table .menu .pending{
  background-color: #ffb74d !important;
}
.section-3 table .menu>:nth-child(4){
  padding-left: 25px !important;
  
}
/* End section-3  */